html{
  scroll-behavior: smooth;
}
body{
  background-color: #ffffff;
}

header{
  background-color: #333;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25px;
  max-width: 920px;
  margin: 0 auto;
}

.header-container img{
  width: 65px;
  user-select: none;
}

li{
  list-style-type: none;
}

nav ul{
  display: flex;
  gap: 25px;
}
.nav-menu a{
  text-decoration: none;
  list-style: none;
  font-size: 12pt;
}

a{
  font-size: 20px;
  color: #3881e0;
}

button{
  position: relative;
  background-color: transparent;
  border: none;
}
.numberCart{
  color: #3881e0;
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 11pt;
  font-weight: 700;
  padding: 0px;
  border-radius: 50%;
  width: 16px;
  background-color: #3c3c3c;
}
a:hover{
  color: #f55562;
}

.menu-mobile-icon, .menu-mobile {
  display: none;
}

@media (max-width: 595px){

  header {
    justify-content: space-around;
  }
  .header-container{
    margin-left: 25px;
  } 
  .header-container nav{
    display: none;
  }
  .menu-mobile-icon{
    display: block;
    margin-left: 60%;
  }
  .menu-mobile-icon button {
    background-color: transparent;
    border: none;
    font-size: 22pt;
    color: #3881e0;
  }
  
  .close {
    display: none;
  }
  .menu-mobile li{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .menu-mobile a{
    text-decoration: none;
    margin-top: 20px;
  }
  
  .bars.active {
    display: none;
    margin-right: 20px;
    padding: 100px;
  }
  .close.active {
      display: block;
  }
  .menu-mobile.active {
      border-top: 2px solid #fff;
      display: block;
      text-align: end;
      padding: 0 35px;
  }
  .menu-mobile ul {
     padding: 5px 0 15px 0;
     text-align: end;
  }
  .iconMobile{
      display: flex;
      text-align: center;
      justify-content: space-around;
  }
  .iconMobile ul{
      display: flex;
      gap: 17px; 
  }
  .iconMobile li {
      padding: 0 30px;
  }
  .iconMobile a{
      font-size: 18pt;
  }
}